/* navbar */
.navbar-item {
    display: flex;
    font-size: .8rem;
}

.navbar-item:hover {
    cursor: not-allowed;
    background-color: #F2F2F2;
    border-radius: 5px;
}

/* hamburger menu */
.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle>img {
    width: 40px;
}

/* inputs */
.input-group {
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 50%;
}

/* buttons */
.btn {
    text-align: center;
    text-decoration: none;
    border: 0 none;
    padding: 4px 14px;
    width: 100%;
    max-width: 300px;
    font-weight: 500;
    min-height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.btn-primary {
    background: var(--blue-500);
    color: white;
}

.btn-primary:hover {
    background: var(--blue-200);
}

/* cards */
.card {
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
    border: 1px solid rgb(242, 242, 242);
}

/* products */
.product-title {
    font-size: 12px;
    color: var(--blue-600);
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 1rem;
    color: var(--blue-500);
}

/* product price with large font */
.product-price-lg {
    color: var(--blue-500);
    font-size: 2rem;
    font-weight: 700;
}

#productsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 75%;
}

/* modal */
.modal {
    display: flex;
    justify-items: center;
    align-items: center;
    background: rgba(0, 0, 0, .4);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal .container {
    width: 40%;
    height: fit-content;
    color: black;
    background: white;
    border-radius: 5px;
    position: relative;
}

.modal-content {
    padding: 0 3rem 1rem 2rem;
}

.modal-content h2 {
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.modal-close-btn {
    background: transparent;
    color: var(--red-400);
    outline: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    right: 1.3rem;
    top: .7rem;
}

.modal-close-btn:hover {
    cursor: pointer;
    color: gray;
}

.modal-description {
    margin-top: 2.5rem;
    max-width: 340px;
    max-height: 230px;
    overflow: scroll;
}