@media(max-width:700px) {
    .modal-content-body {
        display: block;
    }
}

@media(max-width:500px) {
    .navbar-items-container {
        display: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    #productsWrapper {
        width: 90%;
    }
}

@media(max-width: 400px) {
    #productsWrapper {
        width: 100%;
    }

    #productsContainer {
        display: block;
    }

    #productsContainer .card {
        margin-bottom: 2rem;
    }
}